a {
  color: black;
  cursor: pointer;
  display: inline-block;
  margin: 45px;
  text-decoration: none;
}


body {
  background-color: #282828;
  font-family: 'helvetica';
  text-align: center;
  color: #ebdbb2;
}

h1 {
  font-size: 100px;
  margin-top: 20vh;
  margin-bottom: -30px;
  overflow-wrap: break-word;
}


.contactLinks {
  position: absolute;
  top: calc(50% - 45px);
  width: 100%;
}

.fab {
  color: #ebdbb2;
}

.linkBtn {
  font-size: 80px;
}

.linkDiv {
  display: inline-block;
}

.naruheh {
  bottom: 0;
  height: 60vh;
  left: 0;
  pointer-events: none;
  position: absolute;
  z-index: -9999;
}
