a {
  color: black;
  display: inline-block;
  margin: 45px;
  text-decoration: none;
}

a:hover {
  transform: scale(1.1);
}

a img {
  height: 80px;
  width: 80px;
}

body {
  background-color: #282828;
  color: #ebdbb2;
  font-family: 'helvetica';
  text-align: center;
}

h1 {
  font-size: 100px;
  margin-bottom: -30px;
  margin-top: 20vh;
  overflow-wrap: break-word;
}

.contactLinks {
  position: absolute;
  top: calc(50% - 45px);
  width: 100%;
}

.linkDiv {
  display: inline-block;
}

.naruheh {
  bottom: 0;
  height: 60vh;
  left: 0;
  pointer-events: none;
  position: absolute;
  z-index: -9999;
}
